<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxx6AYjcxzDIKpA8Ah4r0Tb79N5g8rNPA</string>
	<key>GCM_SENDER_ID</key>
	<string>945305545409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectssrk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ssrk-81fdd</string>
	<key>STORAGE_BUCKET</key>
	<string>ssrk-81fdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945305545409:ios:ecc80ac2b6af92bedf0240</string>
</dict>
</plist>